.admin-dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .admin-dashboard-section {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-dashboard-section h2 {
    margin-bottom: 10px;
  }
  
  .admin-dashboard-section input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-dashboard-section button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-dashboard-section button:hover {
    background-color: #0056b3;
  }
  